<div class="row">  
  <div class="column">
    <app-map (countrySelected)="retrieveData($event)"></app-map>
  </div>
  <div class="column" *ngIf="countryData; else noDataTemplate">
      <h2>{{ countryData.name }}</h2>
      <ul>
        <li><strong>Capital:</strong> {{ countryData.capitalCity }}</li>
        <li><strong>Region:</strong> {{ countryData.region.value }}</li>
        <li><strong>Income Level:</strong> {{ countryData.incomeLevel.value }}</li>
        <li><strong>Latitude:</strong> {{ countryData.latitude | number }}</li>
        <li><strong>Longitude:</strong> {{ countryData.longitude | number }}</li>
      </ul>
  </div>
  <ng-template #noDataTemplate>
    <p>Select a country to learn more about it.</p>
  </ng-template>
</div>